/* Basic styling for the body */
body {
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;
    word-wrap: break-word !important;
    font-size: 18px;
    background: #f4f5f6;
}

.course-card {  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
    transition: 0.3s;
    border-radius: 5px;
    background-color: #003161;
    width: 100%; 
    position: relative; 
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 10px;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    padding: 20px;
} 

.course-image {  
    width: 300px;  
    height: 200px; /* Set a specific height */
    object-fit: cover; /* This will crop the images to cover the set dimensions */
    object-position: center; /* This will center the images */
    border-radius: 8px;  
} 


.course-info {  
    padding: 20px; 
    text-align: left; 
}

.course-name {  
    font-size: 22px;  
    color: #fff;
    margin-bottom: 10px;  
} 

.course-description {  
    font-size: 16px;  
    color: #FFF4B7;  
    margin-bottom: 20px;  
}  

.course-meta {  
    font-size: 14px;  
    color: #fff;  
}  

.rating {  
    margin-bottom: 20px;   
}

.rating .star-icon {  
    margin-top: 10px;
    color: #FFC107;
    margin-right: 10px;  
}
.star-icon{
    margin-left: 10px;
}

/* Styling for the search bar */
.search-bar {  
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    width: 100%;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    outline: none;
    background-color: #003161;
}

.search-bar:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

/* Filter buttons styling  */
.filter-button {  
    background-color: #082782;  
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}  
  
.filter-button.active {  
    background-color: #00C853;   
}
